{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<ul class="list list-legend">
    <li class="text-warning">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{ 'app.object_references.actions.delete'|trans }}
    </li>
    <li class="text-warning">
        <i class="fa fa-chain-broken" aria-hidden="true"></i>
        {{ 'app.object_references.actions.remove_mm'|trans }}
    </li>
    <li class="text-warning">
        <i class="fa fa-chain-broken" aria-hidden="true"></i>
        {{ 'app.object_references.actions.set_null'|trans }}
    </li>
    <li class="text-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ 'app.object_references.actions.error'|trans }}
    </li>
    <li class="text-info">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        {{ 'app.object_references.actions.unknown'|trans }}
    </li>
    <li class="text-success">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        {{ 'app.object_references.actions.nothing'|trans }}
    </li>
</ul>