{% block sonata_breadcrumb %}
    {% if _breadcrumb is not empty or action is defined %}
<div id="breadcrumbs" class="hidden-xs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumb" style="background-color:inherit;">
                    <span>
                        <strong>{{ 'app.frontend.you_are_here'|trans }}</strong>
                        {% if _breadcrumb is empty %}
                            {% if action is defined %}
                                {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                    {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                    {%- set label = menu.label -%}
                                    {%- if translation_domain is not same as(false) -%}
                                        {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                    {%- endif -%}

                                    {% if not loop.first %}
                                        &nbsp;&gt;
                                    {% endif %}
                                    {% if not loop.last %}
                                        &nbsp;<span class="breadcrumb-item">
                                            {% if menu.uri is not empty %}
                                                {# MOD: change home menu link to / in frontend #}
                                                {% if menu.uri == '/admin/dashboard' %}
                                                    {% set href = '/' %}
                                                {% else %}
                                                    {% set href = menu.uri %}
                                                {% endif %}
                                                <a href="{{ href }}">
                                                    {% if menu.extra('safe_label', true) %}
                                                        {{- label|raw -}}
                                                    {% else %}
                                                        {{- label|u.truncate(100) -}}
                                                    {% endif %}
                                                </a>
                                            {% else %}
                                                <span>{{ label|u.truncate(100) }}</span>
                                            {% endif %}
                                        </span>
                                    {% else %}
                                        &nbsp;<span class="breadcrumb-item active"><span>{{ label|u.truncate(100) }}</span></span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {{ _breadcrumb|raw }}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
{% endblock sonata_breadcrumb %}