
{% if app.user %}
    <div class="app-user-info">
        <span class="app-user-welcome">
            {{ 'app.frontend.login.welcome_short'|trans({'username': app.user.fullname })}}
        </span>
        <span class="app-auth-action">
            <a href="{{ path('app_logout') }}" class="btn btn-link">
                {{ 'app.frontend.login.logout'|trans }}
            </a>
        </span>
    </div>
{% else %}
    <div class="app-user-info">
        <span class="app-user-welcome">
            &nbsp;
        </span>
        <span class="app-auth-action">
            <a href="{{ path('app_login') }}" class="btn btn-link">
                {{ 'app.frontend.login.login'|trans }}
            </a>
        </span>
    </div>
{% endif %}