{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@SonataAdmin/standard_layout.html.twig' %}
    {% set frontendMenuMain = {
        'ozg_overview': {
            'label': 'app.menu.ozg_overview'|trans,
            'itemClasses': 'nav-item dropdown-toggle down-arrow',
            'menuItems': {
                'implementationproject': {
                    'routePrefix': 'frontend_app_implementationproject',
                    'label': 'app.implementation_project.list',
                    'icon': 'angle-double-right'
                },
                'service_system': {
                    'routePrefix': 'frontend_app_servicesystem',
                    'label': 'app.service_system.list',
                    'icon': 'angle-double-right'
                },
                'service': {
                    'routePrefix': 'frontend_app_service',
                    'label': 'app.service.frontend.list',
                    'icon': 'angle-double-right'
                },
            }
        },
        'digital_model_reqion_group': {
            'label': 'app.menu.digital_model_reqion_group'|trans,
            'itemClasses': 'nav-item dropdown-toggle down-arrow',
            'menuItems': {
                'model_region': {
                    'routePrefix': 'frontend_app_modelregion',
                    'label': 'app.model_region.list',
                    'icon': 'angle-double-right'
                },
                'moderegionproject': {
                    'routePrefix': 'frontend_app_modelregionproject',
                    'label': 'app.model_region_project.list',
                    'icon': 'angle-double-right'
                },
            }
        },
        'solution': {
            'routePrefix': 'frontend_app_solution',
            'label': 'app.solution.list',
            'icon': 'puzzle-piece'
        },
        'commune': {
            'routePrefix': 'frontend_app_commune',
            'label': 'app.commune.list_fe',
            'icon': 'map-o'
        },
        'vsm_api': {
            'routePrefix': 'frontend_app_vsm_api',
            'defaultRouteAppend': '_index',
            'label': 'app.vsm.list_fe',
            'icon': 'search'
        },
    } %}
{% block meta_tags %}
    {{ parent() }}
    <meta name="robots" content="index,follow"/>
    <meta name="keywords" content="Kommunalportal; Nordrhein-Westfalen; Kommunen; Verwaltung; Digitalisierung; KDN; KDN-Dachverband kommunaler IT-Dienstleister; Übertragbarkeit; Nachnutzung; Lösungen; Landesportal; Servicekonto; Verwaltungsportal"/>
    <meta property="og:title" content="Kommunalportal.NRW"/>
    <!-- Entwicklung: Gert Hammes -->
{% endblock %}

{% block sonata_head_title %}
    {{ 'app.frontend.page_title'|trans }}

    {% if _title is not empty %}
        {{ _title|striptags|raw }}
    {% else %}
        {% if action is defined %}
            -
            {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                {% if not loop.first %}
                    {% if loop.index != 2 %}
                        &gt;
                    {% endif %}

                    {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                    {%- set label = menu.label -%}
                    {%- if translation_domain is not same as(false) -%}
                        {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                    {%- endif -%}

                    {{ label }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% block encore_stylesheets %}
        {# 'admin' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
{% endblock %}

{% block body_attributes -%}
    class="sonata-bc skin-kdn app-fe"
{%- endblock -%}

{% block sonata_header %}
    <header class="header-top" id="header-top">
        {% block sonata_header_noscript_warning %}
            <noscript>
                <div class="noscript-warning">
                    {{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
                </div>
            </noscript>
        {% endblock %}
        <!--Main Content-->
        <div id="topnav" class="">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        {% block logo %}
                            {% apply spaceless %}
                                <div class="logo-wrapper ">
                                    <a href="{{ path('sonata_admin_dashboard') }}">
                                        <img src="https://www.kdn.de/typo3conf/ext/citko_config/Resources/Public/Icons/kdn-logo-neu2.svg" height="70px" alt="">
                                    </a>
                                </div>
                            {% endapply %}
                        {% endblock %}
                    </div>
                    {% block sonata_top_nav_menu %}
                    <div class="col-9 col-nav-top-right">
                        {% include 'Kdn/Layout/_nav-top.twig' %}
                        {% include 'Kdn/Layout/_header-login.html.twig' %}
                    </div>
                    {% endblock %}
                    <div class="col-12 app-title">
                        <strong>{{ 'app.frontend.page_title'|trans }}</strong>
                    </div>
                </div>
            </div>

        </div>
        {% include 'Kdn/Layout/_header-nav.html.twig' %}
    </header>
{% endblock sonata_header %}

{% block sonata_wrapper %}
    {% block contentJumbotron %}
        <div id="header">
            {% include 'Kdn/Layout/_breadcrumbs.twig' %}
            {% include 'Kdn/Layout/_content-header.twig' %}
        </div>
    {% endblock %}
    <!--Main Content-->
    <div id="content">
        {% set sidebarContent = include('Kdn/Layout/_sidebar-content.html.twig')|trim %}
        <div class="container-fluid content-wrapper-content{% if sidebarContent|length > 0 %} has-sidebar{% else %}full-width{% endif %}">
            {% block sonata_left_side %}
                {% block sonata_side_nav %}
                    {% block side_bar_before_nav %} {% endblock %}
                    {% block side_bar_nav %}
                    {% endblock side_bar_nav %}
                    {% block side_bar_after_nav %}
                        {% block side_bar_after_nav_content %}
                            {% if sidebarContent|length > 0 %}
                                <aside class="app-sidebar">
                                    <section class="sidebar">
                                        {{ sidebarContent|raw }}
                                    </section>
                                </aside>
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                {% endblock sonata_side_nav %}
            {% endblock sonata_left_side %}

            <main class="app-content-wrapper">
                {% block sonata_page_content %}
                    <section class="content-header">

                        {% block sonata_page_content_header %}
                            {% block sonata_page_content_nav %}
                                {% if _navbar_title is not empty
                                    or _tab_menu is not empty
                                    or _actions is not empty
                                    or _list_filters_actions is not empty
                                %}
                                    <nav class="navbar navbar-default" role="navigation">
                                        <div class="container-fluid">
                                            {% block tab_menu_navbar_header %}
                                                {% if _navbar_title is not empty %}
                                                    <div class="navbar-header">
                                                        <a class="navbar-brand" href="#">{{ _navbar_title|raw }}</a>
                                                    </div>
                                                {% endif %}
                                            {% endblock %}

                                            <div class="navbar-collapse">
                                                {% if _tab_menu is not empty %}
                                                    <div class="navbar-left">
                                                        {{ _tab_menu|raw }}
                                                    </div>
                                                {% endif %}

                                                {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                                                    <div class="nav navbar-right btn-group">
                                                        {% for mode, settings in admin.listModes %}
                                                            <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i class="{{ settings.class }}"></i></a>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}

                                                {% block sonata_admin_content_actions_wrappers %}
                                                    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                                        <ul class="nav navbar-nav navbar-right">
                                                            {% if _actions|split('</a>')|length > 2 %}
                                                                <li class="dropdown sonata-actions">
                                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                                                    <ul class="dropdown-menu" role="menu">
                                                                        {{ _actions|raw }}
                                                                    </ul>
                                                                </li>
                                                            {% else %}
                                                                {{ _actions|raw }}
                                                            {% endif %}
                                                        </ul>
                                                    {% endif %}
                                                {% endblock sonata_admin_content_actions_wrappers %}

                                                {% if _list_filters_actions is not empty %}
                                                    {{ _list_filters_actions|raw }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </nav>
                                {% endif %}
                            {% endblock sonata_page_content_nav %}
                        {% endblock sonata_page_content_header %}
                    </section>

                    <section class="content">
                        {% block sonata_admin_content %}

                            {% block notice %}
                                {% include '@SonataTwig/FlashMessage/render.html.twig' %}
                            {% endblock notice %}

                            {% if _preview is not empty %}
                                <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                            {% endif %}

                            {% if _content is not empty %}
                                <div class="sonata-ba-content">{{ _content|raw }}</div>
                            {% endif %}

                            {% if _show is not empty %}
                                <div class="sonata-ba-show">{{ _show|raw }}</div>
                            {% endif %}

                            {% if _form is not empty %}
                                <div class="sonata-ba-form">{{ _form|raw }}</div>
                            {% endif %}

                            {% if _list_filters is not empty %}
                                <div class="row">
                                    {{ _list_filters|raw }}
                                </div>
                            {% endif %}

                            {% if _list_table is not empty %}
                                <div class="row">
                                    {{ _list_table|raw }}
                                </div>
                            {% endif %}
                        {% endblock sonata_admin_content %}
                    </section>
                {% endblock sonata_page_content %}
            </main>
            {% block contentBlockBottom %}
            {% endblock contentBlockBottom %}
        </div>
    </div>
    {% include 'Kdn/Layout/_footer.twig' %}
{% endblock sonata_wrapper %}

