{% set activeRoutePrefix = null %}
{% for menuItem in menuItems %}
    {% set miActive = (not activeRoutePrefix or menuItem.routePrefix|length > activeRoutePrefix|length) and menuItem.routePrefix in app.request.attributes.get('_route') %}
    {% if miActive %}
        {% set activeRoutePrefix = menuItem.routePrefix %}
    {% endif %}
{% endfor %}
<li class="{{ itemClasses }}{{ activeRoutePrefix ? ' active' : '' }}">
    <a href="#">
        <i class="fa fa-sitemap" aria-hidden="true"></i>
        <span>{{ groupLabel }}</span>
        <span class="pull-right-container"><i class="fa pull-right fa-angle-left"></i></span>
    </a>
    <ul class="active treeview-menu menu_level_1">
        {% set hasActive = false %}
        {% for menuItem in menuItems %}
            {% set miActive = not hasActive and activeRoutePrefix and menuItem.routePrefix == activeRoutePrefix %}
            <li class="{% if loop.first %}first{% endif %}{% if loop.last %}last{% endif %}{% if miActive %} active{% endif %}">
                <a href="{{ path(menuItem.routePrefix ~ '_list') }}" class="nav-link">
                    <i class="fa fa-{{ menuItem.icon }}" aria-hidden="true"></i>
                    <span>{{ menuItem.label|trans }}</span>
                </a>
                {% if miActive %}
                    {% set hasActive = true %}
                    {% include 'Frontend/Admin/CRUD/menu-datagrid-filter.html.twig' %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</li>