{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@!SonataDoctrineORMAdmin/Form/form_admin_fields.html.twig' %}

{% block form_row %}
    {# OZG MOD: use row_attr.class for div_class #}
    {% set rowClass = 'form-group' %}
    {# OZG MOD: extend div_class#}
    {% if row_attr and row_attr.class is defined and row_attr.class is not empty %}
        {% set rowClass = rowClass ~ ' ' ~ row_attr.class %}
    {% endif %}
    {% set show_label = show_label ?? true %}
    <div class="{{ rowClass }}{% if errors|length > 0 %} has-error{% endif %}" id="sonata-ba-field-container-{{ id }}">
        {% if sonata_admin.field_description.options is defined %}
            {% set label = sonata_admin.field_description.options.name|default(label) %}
        {% endif %}

        {% set div_class = 'sonata-ba-field' %}

        {% if label is same as(false) %}
            {% set div_class = div_class ~ ' sonata-collection-row-without-label' %}
        {% endif %}

        {% if sonata_admin is defined and sonata_admin.options['form_type'] == 'horizontal' %}
            {# Add an offset if no label or is a checkbox/radio #}
            {% if label is same as(false) or form.vars.checked is defined %}
                {% if 'collection' in form.parent.vars.block_prefixes %}
                    {% set div_class = div_class ~ ' col-sm-12' %}
                {% else %}
                    {% set div_class = div_class ~ ' col-sm-9 col-sm-offset-3' %}
                {% endif %}
            {% else %}
                {% set div_class = div_class ~ ' col-sm-9' %}
            {% endif %}
        {% endif %}

        {% if show_label %}
            {{ form_label(form, label|default(null)) }}
        {% endif %}

        {% if sonata_admin is defined and sonata_admin_enabled %}
            {% set div_class = div_class ~ ' sonata-ba-field-' ~ sonata_admin.edit ~ '-' ~ sonata_admin.inline %}
        {% endif %}

        {% if errors|length > 0 %}
            {% set div_class = div_class ~ ' sonata-ba-field-error' %}
        {% endif %}

        <div class="{{ div_class }}">
            {{ form_widget(form, {'horizontal': false, 'horizontal_input_wrapper_class': ''}) }} {# {'horizontal': false, 'horizontal_input_wrapper_class': ''} needed to avoid MopaBootstrapBundle messing with the DOM #}

            {% if errors|length > 0 %}
                <div class="help-block sonata-ba-field-error-messages">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {# NEXT_MAJOR: Remove this block #}
            {% if sonata_admin is defined and sonata_admin_enabled and sonata_admin.field_description.getHelp('sonata_deprecation_mute')|default(false) %}
                <span class="help-block sonata-ba-field-help">{{ sonata_admin.field_description.help|trans(help_translation_parameters, sonata_admin.field_description.translationDomain ?: admin.translationDomain)|raw }}</span>
            {% endif %}

            {{ form_help(form) }}
        </div>
    </div>
{% endblock form_row %}

{% block sonata_type_native_collection_widget %}
    {% if row_attr is defined and row_attr.class is defined and row_attr.class is not empty%}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ row_attr.class)|trim }) %}
    {% endif %}
    {{ parent() }}
{% endblock sonata_type_native_collection_widget %}

{% block sonata_type_choice_field_mask_widget %}
    {{ block('choice_widget') }}
    {# Taking the form name excluding ending field glue character #}
    {% set main_form_name = id|slice(0, (id|length - name|length)-1) %}
    {% if expanded %}
        {% set js_selector = '#' ~ main_form_name ~ '_' ~ name ~ ' input' %}
        {% set js_event = 'ifChecked' %}
    {% else %}
        {% set js_selector = '#' ~ main_form_name ~ '_' ~ name %}
        {% set js_event = 'change' %}
    {% endif %}
    <script>
        jQuery(document).ready(function() {
            var allFields = {{ all_fields|json_encode|raw }},
                map = {{ map|json_encode|raw }},
                showMaskChoiceEl = jQuery("{{ js_selector }}");

            showMaskChoiceEl.on("{{ js_event }}", function () {
                choice_field_mask_show(jQuery(this).val());
            });

            function choice_field_mask_show(val) {
                var controlGroupIdFunc = function (field, formName) {
                    // Most of fields are named with an underscore
                    var defaultFieldId = '#sonata-ba-field-container-'+formName+'_' + field;

                    // Some fields may be named with a dash (like keys of immutable array form type)
                    if (jQuery(defaultFieldId).length === 0) {
                        return '#sonata-ba-field-container-'+formName+'-' + field;
                    }

                    return defaultFieldId;
                };
                var cfmHideField = function (field) {
                    var $fieldContainer = jQuery(controlGroupIdFunc(field, '{{ main_form_name }}'));
                    $fieldContainer.hide();
                    $fieldContainer.find('[required="required"]').attr('data-required', 'required').removeAttr("required");
                    var $box = $fieldContainer.parents('.box').first();
                    if ($box.length > 0 && $box.find('.form-group:visible').length === 0 && $box.find('> [data-widget="collapse"]').length === 0) {
                        $box.attr('data-cfm-hidden', 1).hide();
                    }
                };
                var cfmShowField = function (field) {
                    var $fieldContainer = jQuery(controlGroupIdFunc(field, '{{ main_form_name }}'));
                    $fieldContainer.show();
                    $fieldContainer.find('[data-required="required"]').attr("required", "required");
                    $fieldContainer.parents('[data-cfm-hidden="1"]').each(function(){
                        $(this).removeAttr('data-cfm-hidden').show();
                    });
                };
                if (val && (typeof val === 'object' || typeof val.isArray !== 'undefined' && val.isArray)) {
                    var showFields = [];
                    val.forEach(function(item){
                        if (map[item]) {
                            jQuery.each(map[item], function (i, field) {
                                if (!showFields.includes(field)) {
                                    showFields.push(field);
                                }
                            });
                        }
                    });
                    jQuery.each(allFields, function (i, field) {
                        if (showFields.includes(field)) {
                            cfmShowField(field);
                        } else {
                            cfmHideField(field);
                        }
                    });
                } else {
                    jQuery.each(allFields, function (i, field) {
                        cfmHideField(field);
                    });
                    if (map[val]) {
                        jQuery.each(map[val], function (i, field) {
                            cfmShowField(field);
                        });
                    }
                }
            }

            {% if value is empty %}
                choice_field_mask_show(showMaskChoiceEl.val());
            {% else %}
                {% if value is iterable %}
                    choice_field_mask_show({{ value|json_encode()|raw }});
                {% else %}
                    choice_field_mask_show('{{ value|e('js') }}');
                {% endif %}
            {% endif %}
        });

    </script>
{% endblock %}