{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

Extend base template with custom class
@see vendor/sonata-project/admin-bundle/src/Resources/views/CRUD/base_list_field.html.twig
#}
{% extends '@!SonataAdmin/CRUD/base_list.html.twig' %}

{% block table_header %}
    {# @var admin \Sonata\AdminBundle\Admin\AbstractAdmin #}
    <thead>
    <tr class="sonata-ba-list-field-header">
        {% for field_description in admin.list.getElements() %}
            {% if admin.hasRoute('batch') and field_description.name == constant('Sonata\\AdminBundle\\Datagrid\\ListMapper::NAME_BATCH') and batchactions|length > 0 %}
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                    <input type="checkbox" id="list_batch_checkbox">
                </th>
            {% elseif field_description.name == constant('Sonata\\AdminBundle\\Datagrid\\ListMapper::NAME_SELECT') %}
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
            {% elseif field_description.name == constant('Sonata\\AdminBundle\\Datagrid\\ListMapper::NAME_ACTIONS') and app.request.isXmlHttpRequest %}
                {# NEXT_MAJOR: Remove this case in version 5 and recommend using the option `ajax_hidden` instead. #}
                {# Action buttons disabled in ajax view! #}
            {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                {# Disable fields with 'ajax_hidden' option set to true #}
            {% else %}
                {% set sortable = false %}
                {% if field_description.option('sortable', false) %}
                    {% set sortable             = true %}
                    {% set sort_parameters      = admin.datagrid.sortparameters(field_description) %}
                    {% set current              = admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')] is defined
                        and (admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')] == field_description
                        or admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')].name == sort_parameters.filter[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_BY')]) %}
                    {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                    {% set sort_by              = current ? admin.datagrid.values[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_ORDER')] : field_description.option(constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_ORDER'), sort_parameters.filter[constant('Sonata\\AdminBundle\\Datagrid\\DatagridInterface::SORT_ORDER')]) %}
                {% endif %}

                {% apply spaceless %}
                    {% set fieldMeta = app_object_property_meta_data(admin.class, field_description.name) %}
                    <th class="sonata-ba-list-field-header-{{ field_description.type }}{% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}{% if field_description.option('header_class') %} {{ field_description.option('header_class') }}{% endif %}{% if fieldMeta is not null %} th-popover{% endif %}"{% if field_description.option('header_style') %} style="{{ field_description.option('header_style') }}"{% endif %}
                        {% if fieldMeta is not null and fieldMeta.customLabel is not empty %} title="{{ fieldMeta.customLabel|raw|replace({'"': "'"}) }}"{% endif %}>
                        {% if sortable %}
                            <a href="{{ admin.generateUrl('list', sort_parameters|merge({_list_mode: admin.getListMode()})) }}">
                        {% endif %}
                        {% if field_description.getOption('label_icon') %}
                            <span class="sonata-ba-list-field-header-label-icon">
                                {{ field_description.getOption('label_icon')|parse_icon }}
                            </span>
                        {% endif %}
                        {% if field_description.label is not same as(false) %}
                            {{ field_description.label|trans({}, field_description.translationDomain) }}
                        {% endif %}
                        {% if sortable %}</a>{% endif %}
                        {% include 'MetaData/help-popover.html.twig' with {'fieldMeta': fieldMeta} %}
                    </th>
                {% endapply %}
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
{% endblock %}

{% block list_filters_actions %}
    {%- if admin.datagrid.filters|length %}
        <ul class="nav navbar-nav navbar-right" id="navbar-filter-selection">

            <li class="dropdown sonata-actions">
                <a href="#" class="dropdown-toggle sonata-ba-action" data-toggle="dropdown">
                    <i class="fas fa-filter" aria-hidden="true"></i>
                    {{ 'app.link_filters'|trans({}, 'SonataAdminBundle') }}
                    <span class="badge sonata-filter-count"></span>
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu dropdown-menu-scrollable" role="menu">
                    {% for filter in admin.datagrid.filters|filter(filter => filter.options['show_filter'] is not same as (false)) %}
                        {% set filterDisplayed = filter.isActive() or filter.options['show_filter'] is same as (true) %}
                        <li>
                            <a href="#" class="sonata-toggle-filter sonata-ba-action" filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}" filter-container="filter-container-{{ admin.uniqid() }}">
                                <i class="far {{ filterDisplayed ? 'fa-check-square' : 'fa-square' }}"></i>
                                {% if filter.label is not same as(false) %}
                                    {{ filter.label|trans(filter.options['label_translation_parameters']|default({}), filter.translationDomain ?: admin.translationDomain) }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% block custom_filters_actions %}
            {% endblock %}
        </ul>
    {% endif -%}
{% endblock %}
