{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{# @var object \App\Entity\ModelRegion\ModelRegionProject #}
{% set groupedQuerySections = object.groupedConceptQueries %}
{% if groupedQuerySections|length > 0 %}
    {% set isBackendMode = app_is_backend() %}
    <div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="field-label box-title">
                Konzeptabfrage
            </h4>
            {% if isBackendMode %}
                <a class="link-export" href="{{ admin.generateObjectUrl('exportPdfConcept', object, {'id': object.id}) }}" style="display: block;float: right;" target="_blank">
                    <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                </a>
            {% else %}
                <a href="{{ path('frontend_app_modelregionproject_export_concept_pdf', {'id': object.id}) }}" style="display: block;float: right;" target="_blank">
                    <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        <div class="box-body">
            {% for sectionData in groupedQuerySections %}
                <div class="query-section" style="margin-bottom: 15px">
                    <h5 style="font-weight: bold;font-size:16px;margin-bottom: 6px;">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        {{ sectionData.label|trans }}
                    </h5>
                {% for groupData in sectionData.queryGroups %}
                    <div class="query-group" style="margin-bottom: 15px;padding-left: 20px;">
                        <h5 style="font-weight: bold;font-size:14px;margin-bottom: 6px;">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            {{ groupData.label|trans }}
                        </h5>
                        <div class="group-rows" style="padding-left: 20px;">
                            {% for row in groupData.queries %}
                            <div class="group-row" style="margin-bottom: 10px">
                                <strong class="headline">{{ row.name }}</strong>
                                {% if row.typeDescription %}<em>({{ row.typeDescription }})</em>{% endif %}
                                <br>
                                <span class="value">{{ row.description }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endif %}