{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set entityClass = showSolution ? 'App\\Entity\\Solution' : 'App\\Entity\\FormServer' %}
    {% set refSettings = app_get_reference_settings(entityClass, field_description) %}
    {# @var refSettings \App\Model\ReferenceSettings #}
    {% set showContacts = refSettings.isBackendMode %}
    <table class="table table-bordered table-condensed">
        <tr>
            {% include 'General/Show/Table/table-head-form-server-solutions.html.twig' %}
            {% if refSettings.edit.enabled %}
                <th>
                </th>
            {% endif %}
        </tr>
        {% for child in entities %}
            {# @var child \App\Entity\FormServerSolution #}
            <tr>
                {% if showSolution %}
                    {% set editObjectId = child.solution.id %}
                    {% include 'General/Show/Table/table-row-cells-solutions.html.twig' with {'child': child.solution} %}
                {% elseif child.formServer is not null %}
                    {% set editObjectId = child.formServer.id %}
                    {% include 'General/Show/Table/table-row-cells-form-servers.html.twig' with {'child': child.formServer} %}
                {% else %}
                    <td>
                    </td>
                    <td>
                    </td>
                {% endif %}
                <td>
                    {% if child.status %}
                        {{ child.status.name }}
                    {% endif %}
                </td>
                <td>
                    {{ child.articleNumber }}
                </td>
                <td>
                    {{ child.assistantType }}
                </td>
                <td>
                    {{ child.articleKey }}
                </td>
                <td>
                    {{ child.usableAsPrintTemplate ? 'Ja' : 'Nein' }}
                </td>
                {% if refSettings.edit.enabled and editObjectId %}
                    <td>
                        {% if refSettings.admin.hasAccess(refSettings.edit.route, child) %}
                            <a href="{{ refSettings.admin.generateUrl(refSettings.edit.route, { 'id': editObjectId }) }}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}