{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{# @var refSettings \App\Model\ReferenceSettings #}
{% if refSettings.edit.enabled and refSettings.admin.hasAccess(refSettings.edit.route, child) %}
    {% if field_description is not null and field_description.options.route.parameters %}
        {% set editParameters = field_description.options.route.parameters %}
    {% else %}
        {% set editParameters = {'id': child.id} %}
    {% endif %}
    <a href="{{ refSettings.admin.generateObjectUrl(refSettings.edit.route, child, editParameters) }}"{% if linkClass is defined %} class="{{ linkClass }}" {% endif %}>
        {% if refSettings.edit.route == 'show' %}
            <i class="fa fa-eye" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        {% endif %}
        {% if buttonText is defined %}
            {{ buttonText|raw }}
        {% endif %}
    </a>
{% elseif linkClass is defined and buttonText is defined and not 'btn' in linkClass  %}
    <span class="{{ linkClass }}">
        {{ buttonText|raw }}
    </span>
{% endif %}