{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# @var refSettings \App\Model\ReferenceSettings #}
<table class="table table-bordered table-condensed">
    <tr>
        {% set tableHeaders = ['name', 'service_key', 'jurisdictions', 'situation', 'subject', 'priority', 'status'] %}
        {% include 'General/Show/Table/table-head-general.html.twig' with {'tableHeaders': tableHeaders, 'labelPrefix': refSettings.labelPrefix} %}
        {% if refSettings.edit.enabled %}
            <th></th>
        {% endif %}
    </tr>
    {% for child in entities %}
        {# @var child \App\Entity\ServiceSystem #}
        <tr>
            <td>
                {% include 'General/Show/Partials/link-child-name-show.html.twig' %}
            </td>
            <td>
                {% if child.serviceKey %}
                    {{ child.serviceKey }}
                {% endif %}
            </td>
            <td>
                {% if child.jurisdictions %}
                    {% for grandChild in child.jurisdictions %}
                        <span class="badge">{{ grandChild.name }}</span>
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if child.situation %}
                    {{ child.situation.name }}
                {% endif %}
            </td>
            <td>
                {% if child.situation.subject %}
                    {{ child.situation.subject.name }}
                {% endif %}
            </td>
            <td>
                {% if child.priority %}
                    {{ child.priority.name }}
                {% endif %}
            </td>
            <td>
                {% if child.status %}
                    {{ child.status.name }}
                {% endif %}
            </td>
            {% if refSettings.edit.enabled %}
                <td>
                    {% if refSettings.admin.hasAccess(refSettings.edit.route, child) %}
                        {% if field_description.options.route.parameters %}
                            {% set editParameters = field_description.options.route.parameters %}
                        {% else %}
                            {% set editParameters = {'id': child.id} %}
                        {% endif %}
                        <a href="{{ refSettings.admin.generateObjectUrl(refSettings.edit.route, child, editParameters) }}">
                            {% if refSettings.edit.route == 'show' %}
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>