{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends base_template %}

{% block sonata_page_content %}
    <section class="content">
        {% block notice %}
            {% include '@SonataTwig/FlashMessage/render.html.twig' %}
        {% endblock notice %}
    {# @var apiHandler \App\Api\Consumer\ApiManager #}
    <div id="vsm-snippet-container">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {% for consumer in consumers %}
                    {# @var consumer \App\Api\Consumer\ApiConsumerInterface #}
                    {% set isActive = activeConsumerKey == consumer.importSourceKey or (activeConsumerKey is null and loop.first) %}
                    <li{% if isActive %} class="active"{% endif %}><a href="#api-{{ consumer.importSourceKey }}" title="{{ consumer.description|striptags }}" data-toggle="tab">{{ consumer.name }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
            {% for consumer in consumers %}
                {# @var consumer \App\Api\Consumer\ApiConsumerInterface #}
                {% set isActive = activeConsumerKey == consumer.importSourceKey or (activeConsumerKey is null and loop.first) %}
                <div class="{% if isActive %}active {% endif %}tab-pane" id="api-{{ consumer.importSourceKey }}">
                    {{ consumer.description|raw }}
                    {% if forms[consumer.importSourceKey] is defined %}
                        {% include 'Vsm/Partials/_search-form.html.twig' with {'searchForm': forms[consumer.importSourceKey], 'consumer': consumer} %}
                    {% endif %}
                    {% if results[consumer.importSourceKey] is defined %}
                        {% set consumerResults = results[consumer.importSourceKey] %}
                        {# @var consumerResults \App\Import\Model\ResultCollection #}
                        <div class="search-result-container" data-url="{{ consumer.queryUrl }}">
                            {% if not consumerResults.empty %}
                                {% if consumerResults.totalResultCount > 0 %}
                                <h3 class="search-result-title">
                                    {{ 'app.api.common.search_results'|trans({'count': consumerResults.totalResultCount}) }}
                                </h3>
                                {% endif %}
                                {% include consumer.resultTemplate with {'results': consumerResults, 'consumer': consumer} %}
                                {% if consumerResults.paginationEnabled %}
                                    {% include 'Vsm/Partials/_search-result-pagination.html.twig' with {'results': consumerResults, 'consumer': consumer} %}
                                {% endif %}
                            {% else %}
                                <div class="alert alert-warning">
                                    {{ 'app.api.common.no_result_found'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    </section>
{% endblock %}