{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        {# @var object \App\Entity\ImplementationProject #}
        {% for child in object.subjects %}
            {# @var serviceSystem \App\Entity\ServiceSystem #}
            {% if loop.index > 1 %}
                <br>
            {% endif %}
            {{ child.name }}
            {% if field_description.options.enable_filter_add is defined and field_description.options.enable_filter_add %}
                {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
                <a href="#filter-container-{{ admin.uniqid() }}" title="{{ 'app.common.add_filter'|trans }}" class="list-field-filter-add js-filter-add" data-value="{{ child.id }}" data-target="filter-{{ admin.uniqid }}-{{ field_description.name }}" data-container="filter-container-{{ admin.uniqid() }}" data-property="{{ field_description.name }}">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                    <span class="sr-only">{{ 'app.common.add_filter'|trans }}</span>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}