{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'General/Show/show-status-info.html.twig' %}

{# @var object \App\Entity\ImplementationProject #}
{% block servicesStatusInfo %}
    {% if object.services|length > 0 %}
        <div class="project-service-status-list">
            <h4 class="box-inline-headline">{{ 'app.implementation_project_service.list_services_status'|trans }}</h4>
            {% for projectService in object.services %}
                <div class="project-service-status-info">
                    {% set serviceStatusInfo = app_implementation_project_service_status_info(projectService) %}
                    {% if projectService.service %}
                    <div class="status-type-label">
                        {{ projectService.service.serviceKey }} {{ projectService.service.name }}
                    </div>
                    {% endif %}
                    <div class="project-status-info">
                        {% for statusDetails in serviceStatusInfo %}
                            <div class="project-status{{ statusDetails.isActive ? ' active' : '' }}{{ statusDetails.isCurrent ? ' current' : '' }}{{ statusDetails.setAutomatically ? '' : ' inactive' }}">
                                <div class="project-status-name">
                                    <div class="arrow left"></div>
                                    <div class="name">
                                        {{ statusDetails.name }}
                                    </div>
                                    <div class="arrow right"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}