{% extends 'General/Show/show.html.twig' %}

{% block show_title %}
    {{ 'app.implementation_project.entity.name'|trans }}: <strong>{{ object.name }}</strong>
{% endblock %}

{% block app_show_custom_box_body_classes %}{% endblock %}

{% block show_field %}
    {% if field_name not in ['name', 'description', 'notes', 'serviceSystems', 'solutions',] %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block app_show_custom_fields_top %}
    {% if object.description %}
        <p class="item-property">
            {{ object.description|nl2br }}
        </p>
    {% endif %}
{% endblock %}

{% block app_show_custom_fields %}
    {% if object.notes %}
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">
                        {{ 'app.implementation_project.entity.notes'|trans }}
                    </h4>
                </div>
                <div class="box-body">
                    {{ object.notes|raw }}
                </div>
            </div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}
