{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends app.request.isXmlHttpRequest ? 'base_ajax.html.twig' : 'base.html.twig' %}

{% block sonata_page_content %}
    {% if sortedResultsByProperty|length > 0 %}
    <section class="content">
        <div class="box box-widget box-page-content">
            <div class="box-header no-padding">
                <ul class="nav nav-tabs">
                    {% for tabKey,label in tabs %}
                        {% set isActive = loop.first %}
                        <li{% if isActive %} class="active"{% endif %}>
                            <a href="#tab-rollout-{{ tabKey }}" data-toggle="tab">
                                {{ label|trans }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="box-body no-padding">
                <div class="tab-content">
                    {% for tabKey, sortedResults in sortedResultsByProperty %}
                    {% set isActive = loop.first %}
                    <div class="{% if isActive %}active {% endif %}tab-pane" id="tab-rollout-{{ tabKey }}">
                        <div class="project-month-data">
                            <div class="slider-horizontal">
                                <div class="inner">
                                    {% for key, monthData in sortedResults %}
                                        {% set monthToggleKey = 'subject-projects-' ~ tabKey ~ '-' ~ key %}
                                        <div class="month-data" id="meta-project-month-{{ key }}">
                                            <div class="month-content">
                                                {% set monthLabel = 'Inbetriebnahme ' ~ monthData.date|sonata_format_date('MMMM YYYY') %}
                                                {% for subjectData in monthData.subjects %}
                                                    <div class="month-subject js-click-toggle" data-toggle="{{ monthToggleKey }}-{{ subjectData.id }}">
                                                        <div class="icon-wrap" title="{{ subjectData.name }}">
                                                            {% if subjectData.icon %}
                                                                <img src="{{ subjectData.icon }}" class="icon" alt="{{ subjectData.name }}">
                                                            {% else %}
                                                                <span  class="icon">
                                                                    <i class="fas fa-map-marker" aria-hidden="true"></i>
                                                                </span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="date">{{ monthData.date|sonata_format_date('MMMM YYYY') }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="project-month-details">
                                {% for key, monthData in sortedResults %}
                                    {% set monthToggleKey = 'subject-projects-' ~ tabKey ~ '-' ~ key %}
                                    {% for subjectData in monthData.subjects %}
                                        <div class="subject-projects js-toggle-target" id="{{ monthToggleKey }}-{{ subjectData.id }}" style="display: none;">
                                            <div class="title">
                                                Inbetriebnahme(n) {{ monthData.date|sonata_format_date('MMMM YYYY') }} für Themengebiet <em>{{ subjectData.name }}</em>
                                            </div>
                                            <div class="body">
                                                <ul class="list-projects list-unstyled">
                                                    {% for item in subjectData.items %}
                                                        {# @var item \App\Entity\ImplementationProject #}
                                                        <li class="list-item">
                                                            <a class="list-item-action" href="{{ admin.generateContextObjectUrl('show', item, {'id': item.id}) }}">
                                                                <i class="fas fa-eye" aria-hidden="true"></i>
                                                                {{ item.name }}
                                                            </a>
                                                            {% if tabKey == 'commissioningStatusAt' and item.commissioningStatusAt is not null %}
                                                            <div class="project-date">{{ 'app.implementation_project.entity.commissioning_status_at'|trans }}: {{ item.commissioningStatusAt|sonata_format_date }}</div>

                                                            {% elseif tabKey == 'pilotingStatusAt' and item.pilotingStatusAt is not null %}
                                                                <div class="project-date">{{ 'app.implementation_project.entity.piloting_status_at'|trans }}: {{ item.pilotingStatusAt|sonata_format_date }}</div>
                                                            {% elseif tabKey == 'nationwideRolloutAt' and item.nationwideRolloutAt is not null %}
                                                                <div class="project-date">{{ 'app.implementation_project.entity.nationwide_rollout_at'|trans }}: {{ item.nationwideRolloutAt|sonata_format_date }}</div>
                                                            {% endif %}
                                                            {% if item.projectLeaders|length > 0 %}
                                                                <div class="project-leaders">
                                                                    {{ 'app.implementation_project.entity.project_leaders'|trans }}:
                                                                    {% for leader in item.projectLeaders %}
                                                                        {% if loop.index > 1 %}, {% endif %}
                                                                        {{ leader ~ '' }}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock sonata_page_content %}
