{% extends '@SonataAdmin/standard_layout.html.twig' %}


{% block logo %}
    {% apply spaceless %}
        <a class="logo" href="https://www.kdn.de/" target="_blank">
            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">
            {% endif %}
            {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <span>{{ sonata_admin.adminPool.title }}</span>
            {% endif %}
        </a>
    {% endapply %}
{% endblock %}

{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}


{% block side_bar_nav %}
    <ul class="sidebar-menu" data-widget="tree">
        <li class="first treeview active">
            <a href="#">
                <i class="fa fa-sitemap" aria-hidden="true"></i>
                <span>{{ 'app.menu.osg_overview'|trans }}</span>
                <span class="pull-right-container"><i class="fa pull-right fa-angle-left"></i></span>
            </a>
            <ul class="active treeview-menu menu_level_1">
                <li class="first">
                    <a href="{{ path('frontend_app_service_list') }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        {{ 'app.service.service_list'|trans }}
                    </a>
                    {% if datagrid is defined and datagrid.filterMenuItems %}
                        <div class="list-item-filter" style="padding: 5px 5px 5px 15px;color: #fff; white-space: normal;">
                        {% for filterName, filterMenu in datagrid.filterMenuItems %}
                            {% set filterParamName = filterName|replace({'.': '__'}) %}
                            <label for="custom-filter-{{ filterParamName }}"><i class="fa fa-filter" aria-hidden="true"></i>
                                Filter: {{ filterMenu.label|trans }}
                            </label>
                            <select class="form-control" id="custom-filter-{{ filterParamName }}" name="filter[filterParamName][value][]"
                                data-url="{{ path('frontend_app_service_list', {'filter': {(filterParamName): {'value': {'': 'FILTER_VALUE'}}}}) }}"
                                onchange="if (this.value) window.location.href=this.dataset.url.replace('FILTER_VALUE', this.value)">
                                <option value=""{% if not filterMenu.value %} selected="selected"{% endif %}>-</option>
                            {% for filterChoice in filterMenu.choices %}
                                {% set filterParamName = filterName|replace({'.': '__'}) %}
                                <option value="{{ filterChoice.id }}"{% if filterChoice.id in filterMenu.value %} selected="selected"{% endif %}>
                                    {{ filterChoice.name }}
                                </option>
                            {% endfor %}
                            </select>
                        {% endfor %}
                        </div>
                    {% endif %}
                </li>
            </ul>
        </li>
        {% if app.user %}
        <li class="last">
            <a href="{{ path('sonata_admin_dashboard') }}">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>{{ 'app.menu.dashboard'|trans }}</span>
            </a>
        </li>
        {% else %}
            <li class="last">
                <a href="/admin/login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span>{{ 'app.menu.login'|trans }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock side_bar_nav %}