{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block meta_tags %}
    {{ parent() }}
    <meta charset="index,follow">
    <meta name="description" content="Das Onlinezugangsgesetz (OZG) – die Kommunen in NRW und ihre IT-Dienstleister präsentieren hier ihre Lösungen und gemeinsamen Digitalisierungsprojekte. Bald sind alle Online-Dienste der kommunalen Verwaltung im Portalverbund – für ganz Nordrhein-Westfalen.">
    <meta name="keywords" content="OZG,Onlinezugangsgesetz,NRW,kommunal,Kommunen,Städte,Gemeinden,Landkreise,Landschaftsverbände,Nordrhein-Westfalen,Dienste,Services,Leika,Portal,Portalverbund,IT,Digitalisierung,E-Government,Öffentliche,Verwaltung,Themenfeld,Digitalisierungslabor,XÖV,FIM">
{% endblock %}

{% block body_attributes -%}
    class="sonata-bc skin-black app-fe fixed
    {% if app.request.cookies.get('sonata_sidebar_hide') -%}
        sidebar-collapse
    {%- endif -%}"
{%- endblock -%}

{% block logo %}
    {% apply spaceless %}
        <a class="logo" href="/">
            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">
            {% endif %}
            {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <span>{{ sonata_admin.adminPool.title }}</span>
            {% endif %}
        </a>
    {% endapply %}
{% endblock %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li class="page-title"><strong>{{ 'app.frontend.page_title'|trans }}</strong></li>
        {% if _breadcrumb is not empty or action is defined %}
                {% if _breadcrumb is empty %}
                    {% if action is defined %}
                        {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                            {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                            {%- set label = menu.label -%}
                            {%- if translation_domain is not same as(false) -%}
                                {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                            {%- endif -%}

                            {% if not loop.last %}
                                <li>
                                    {% if menu.uri is not empty %}
                                        {# MOD: change home menu link to / in frontend #}
                                        {% if menu.uri == '/admin/dashboard' %}
                                            {% set href = '/' %}
                                        {% else %}
                                            {% set href = menu.uri %}
                                        {% endif %}
                                        <a href="{{ href }}">
                                            {% if menu.extra('safe_label', true) %}
                                                {{- label|raw -}}
                                            {% else %}
                                                {{- label|truncate(100) -}}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <span>{{ label|truncate(100) }}</span>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="active"><span>{{ label|truncate(100) }}</span></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {{ _breadcrumb|raw }}
                {% endif %}
        {% endif %}
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
    {% if app.user %}
        <li>
            <a href="{{ path('sonata_admin_dashboard') }}">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>{{ 'app.menu.dashboard'|trans }}</span>
            </a>
        </li>
    {% else %}
        <li>
            <a href="/admin/login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <span>{{ 'app.menu.login'|trans }}</span>
            </a>
        </li>
    {% endif %}
        </ul>
    </div>
{% endblock %}

{% block sonata_sidebar_search %}
    {% if sonata_admin.adminPool.getOption('search') %}
        <form action="{{ path('app_frontend_global_search') }}" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                <span class="input-group-btn">
                    <button class="btn btn-flat" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>
    {% endif %}
{% endblock sonata_sidebar_search %}


{% block side_bar_nav %}
    <ul class="sidebar-menu" data-widget="tree">
        <li class="first treeview active">
            <a href="#">
                <i class="fa fa-sitemap" aria-hidden="true"></i>
                <span>{{ 'app.menu.ozg_overview'|trans }}</span>
                <span class="pull-right-container"><i class="fa pull-right fa-angle-left"></i></span>
            </a>
            <ul class="active treeview-menu menu_level_1">
                {% set menuItems = {
                    'service_system': {
                        'routePrefix': 'frontend_app_servicesystem',
                        'label': 'app.service_system.list'
                    },
                    'service': {
                        'routePrefix': 'frontend_app_service',
                        'label': 'app.service.frontend.list'
                    },
                    'implementationproject': {
                        'routePrefix': 'frontend_app_implementationproject',
                        'label': 'app.implementation_project.list'
                    },
                    'solution': {
                        'routePrefix': 'frontend_app_solution',
                        'label': 'app.solution.list'
                    }
                } %}
                {% set hasActive = false %}
                {% for menuItem in menuItems %}
                    {% set miActive = not hasActive and menuItem.routePrefix in app.request.attributes.get('_route') %}
                    <li class="{% if loop.first %}first{% endif %}{% if loop.last %}last{% endif %}{% if miActive %} active{% endif %}">
                        <a href="{{ path(menuItem.routePrefix ~ '_list') }}">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            {{ menuItem.label|trans }}
                        </a>
                        {% if miActive %}
                            {% set hasActive = true %}
                            {% include 'Frontend/Admin/CRUD/menu-datagrid-filter.html.twig' %}
                        {% endif %}
                    </li>
                {% endfor %}
                <li>
                    <a href="https://www.kdn.de/meta-menue/impressum/" target="_blank">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        Impressum
                    </a>
                </li>
                <li>
                    <a href="https://www.kdn.de/meta-menue/datenschutz/" target="_blank">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        Datenschutz
                    </a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock side_bar_nav %}