{% set route = actions.route|default(_key) %}
{% if actions.label is defined and actions.label is not empty %}
    {% set label = actions.label %}
{% else %}
    {% set label = admin.labelTranslatorStrategy.label('action_'~_key, 'list')|trans({}) %}
{% endif %}
{% set icon = actions.icon|default('fa-link') %}
{% set url = actions.url|default(_key) %}

{% if admin.hasAccess('edit', object) and admin.hasRoute(route) %}
    <a href="{{ admin.generateContextObjectUrl(route, object, actions.link_parameters|default([])) }}"
        {%- block link_attributes -%}
            class="btn btn-sm btn-default view_link {{ actions.class|default('') }}"
            title="{{ label }}"
        {%- endblock link_attributes -%}
    >
        <i class="fa {{ icon }}" aria-hidden="true"></i>
        {{ label }}
    </a>
{% endif %}
