{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {# @var object \App\Entity\Solution #}
    {% if object.communeType == constant('App\\Entity\\Solution::COMMUNE_TYPE_ALL') %}
        <em>{{ 'app.solution.entity.commune_type_all'|trans }}</em>
    {% else %}
        {% for element in value %}
            {# @var element \App\Entity\StateGroup\CommuneSolution #}
            {% if element.selectedType %}
                {{ block('relation_value') }}
                {% if not loop.last %}, {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{%- block relation_link -%}
    {% if field_description.options.route is defined and field_description.options.route.parameters is defined %}
        <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, element, field_description.options.route.parameters) }}">
            {{- element|render_relation_element(field_description) -}}
        </a>
    {% else %}
        <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, element) }}">
            {{- element|render_relation_element(field_description) -}}
        </a>
    {% endif %}
{%- endblock -%}

{%- block relation_value -%}
    {{- element|render_relation_element(field_description) -}}
{%- endblock -%}
