{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<td colspan="2">
    <h4>{% block name %}{{ field_description.label|trans({}, field_description.translationDomain ?: admin.translationDomain) }}:{% endblock %}</h4>
{% block field %}
    {% if object.specializedProcedures|length > 0 %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed">
                <tr>
                    <th>{{ 'app.entity.specialized_procedure.name'|trans }}</th>
                    <th>{{ 'app.entity.specialized_procedure.description'|trans }}</th>
                </tr>
            {% set route_name = field_description.options.route.name %}
            {% for element in object.specializedProcedures %}
                <tr>
                    <td>
                        {{ element.name }}
                    </td>
                    <td>
                        {% if element.description %}
                            {{ element.description }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
</td>

