{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'ServiceAdmin/show_field_inline_label.html.twig' %}

{% block field %}
    {% if value %}
        {% set route_name = 'show' %}
        {% if field_description.hasAssociationAdmin
        and field_description.associationadmin.hasRoute(route_name)
        and field_description.associationadmin.hasAccess(route_name, value) %}
            {% if field_description.options.route is defined and field_description.options.route.parameters is defined %}
                <a href="{{ field_description.associationadmin.generateContextObjectUrl(route_name, value, field_description.options.route.parameters) }}">
                    {{ value|render_relation_element(field_description) }}
                </a>
            {% else %}
                <a href="{{ field_description.associationadmin.generateContextObjectUrl(route_name, value) }}">
                    {{ value|render_relation_element(field_description) }}
                </a>
            {% endif %}
        {% else %}
            {{ value|render_relation_element(field_description) }}
        {% endif %}
    {% endif %}
{% endblock %}
