{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'General/Show/show.html.twig' %}


{% block app_show_default_fields %}
    {# @var object \App\Entity\Service #}
    <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }}">
        <div class="{{ show_group.box_class }}">
            <div class="box-header">
                <h4 class="box-title">
                    {% block show_title %}
                        {{ 'app.service.entity.name'|trans }}: <strong>{{ object.name }}</strong>
                        ({{ elements['serviceKey']|render_view_element(object)}})
                    {% endblock %}
                </h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        {{ elements['serviceSystem.situation.subject']|render_view_element(object)}}
                        &gt;
                        {{ elements['serviceSystem.situation']|render_view_element(object)}}
                        &gt;
                        {{ elements['serviceSystem']|render_view_element(object)}}
                    </div>
                    <div class="col-xs-12 col-md-4 text-right">
                        {{ elements['status']|render_view_element(object)}}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        {{ elements['serviceType']|render_view_element(object)}}
                    </div>
                    <div class="col-xs-12 col-md-4 text-right">
                        {{ elements['serviceSystem.priority']|render_view_element(object)}}
                    </div>
                </div>
                {% if object.description %}
                    <div class="item-property">
                        {{ object.description|nl2br }}
                    </div>
                {% endif %}
                {% include 'General/Show/Partials/show-jurisdictions.html.twig' %}
                {% include 'General/Show/Partials/show-rule-authorities.html.twig' %}
                {% if elements['specializedProcedures'] is defined and object.specializedProcedures|length > 0 %}
                    <div class="item-property">
                        {{ elements['specializedProcedures']|render_view_element(object)}}
                    </div>
                {% endif %}
                {% if elements['notes'] is defined and object.notes|length > 0 %}
                    <div class="item-property">
                        <h4>{{ 'app.service.entity.notes'|trans }}</h4>
                        {{ elements['notes']|render_view_element(object)}}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">
                    {{ 'app.service.groups.laws'|trans }}
                </h4>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>{{ 'app.service.entity.legal_basis'|trans }}</dt>
                    <dd>{{ object.legalBasis }}</dd>
                    <dt>{{ 'app.service.entity.laws'|trans }}</dt>
                    <dd>{{ object.laws }}</dd>
                    <dt>{{ 'app.service.entity.law_shortcuts'|trans }}</dt>
                    <dd>{{ object.lawShortcuts }}</dd>
                    <dt>{{ 'app.service.entity.relevance1'|trans }}</dt>
                    <dd>{% if object.relevance1 %}Ja{% else %}Nein{% endif %}</dd>
                    <dt>{{ 'app.service.entity.relevance2'|trans }}</dt>
                    <dd>{% if object.relevance2 %}Ja{% else %}Nein{% endif %}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
