{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<td colspan="2">
    <h4>{% block name %}{{ field_description.label|trans({}, field_description.translationDomain ?: admin.translationDomain) }}:{% endblock %}</h4>
{% block field %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>{{ 'app.office.entity.name'|trans }}</th>
                <th>{{ 'app.office.entity.contact'|trans }}</th>
                <th>{{ 'app.office.entity.url'|trans }}</th>
            </tr>
        {% set route_name = field_description.options.route.name %}
        {% for element in value%}
            <tr>
                <td>
                    {{ element.name }}
                </td>
                <td>
                    {% if element.contact %}
                        {{ element.contact }}
                    {% endif %}
                </td>
                <td>
                    {% if element.url %}
                        {{ element.url }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
</td>

