{% extends '@SonataAdmin/standard_layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script src="/template/search.js"></script>
{% endblock %}

{% block sonata_page_content %}
    <div id="search-admin-list">
        <section class="content-header">
            <div class="box box-primary">
                <div class="box-body">
                    <form action="{{ path('app_search_list') }}" method="POST"  id="search-admin-builder" class="form-inline">
                        <div class="form-group">
                            <label for="search-entity-type">Zeige mir</label>
                            <select name="entityType" id="search-entity-type" class="form-control" data-sonata-select2="false">
                                {% for adminData in adminList %}
                                    <option value="{{ adminData.id }}" data-admin-id="{{ adminData.internalId }}">{{ adminData.label|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="content" id="search-admin-list">
            <div class="search-admin-filters">
                {% for adminData in adminList %}
                    <div class="box box-primary search-admin-filter" id="{{ adminData.internalId }}" style="display: none;">
                        <div class="box-header" style="display: none">
                            <h4 class="box-title">
                                {{ adminData.label|trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            {% include 'Search/Partials/_admin-filters.html.twig' with {'admin': adminData.admin, 'form': adminData.form} %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}