{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@SonataAdmin/standard_layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script src="/template/search.js"></script>
{% endblock %}

{% block sonata_page_content %}
    <div id="search-admin-list">
        <section class="content-header">
            <div class="box box-primary">
                <div class="box-body">
                    {% include 'Search/Partials/_search-form.html.twig' %}
                </div>
            </div>
        </section>

        <section class="content" id="search-admin-list">
            <div class="search-admin-filters">
                {% for adminData in adminList %}
                    <div class="box box-primary search-admin-filter" id="{{ adminData.internalId }}" style="display: none;" data-filter-route="{{ adminData.filterRoute }}">
                        <div class="box-header" style="display: none">
                            <h4 class="box-title">
                                {{ adminData.label|trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            {% include 'Search/Partials/_admin-filters.html.twig' with {'adminData': adminData} %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% block notice %}
                {% include '@SonataTwig/FlashMessage/render.html.twig' %}
            {% endblock notice %}
            {% if showList and searchList %}
                <div class="box box-primary" id="box-search-list">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ 'app.search.entity.saved_search_list'|trans }}
                        </h4>
                    </div>
                    <div class="box-body">
                        {% include 'Search/Partials/_search-list.html.twig' %}
                    </div>
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}