{% set route = actions.route|default(_key) %}

{# @var admin \App\Admin\AbstractAppAdmin #}

{% if object.messageCount > 0 and admin.hasAccess(route, object) and admin.hasRoute(route) %}
    {% set label = actions.label|default(admin.labelTranslatorStrategy.label(_key, 'actions')|trans({}, 'messages')) %}
    {% set url = actions.url|default(_key) %}
    {% set icon = actions.icon|default('fa-link') %}
    {% set messageCountInfo = object_inquiry_message_count(object, app.user) %}
    <a
            href="{{ admin.generateContextObjectUrl(route, object, actions.link_parameters|default([])) }}"
            {%- block link_attributes -%}
                class="btn btn-sm btn-default view_link {{ actions.class|default('') }}"
                title="{{ 'app.inquiry.new_inquiries_message_prefix'|trans }} {{ 'app.inquiry.new_inquiries_message'|trans({'count': messageCountInfo.total}) }}"
            {%- endblock link_attributes -%}
    >
        {% if messageCountInfo.new > 0 %}
            <i class="fas fa-question-circle text-primary" aria-hidden="true"></i>
            {{ 'app.inquiry.total_inquiries_new_message'|trans({'count': messageCountInfo.new}) }}
        {% else %}
            <i class="fas fa-question-circle-o text-muted" aria-hidden="true"></i>
            <span class="text-muted">
                {{ 'app.inquiry.total_inquiries_message'|trans({'count': messageCountInfo.total}) }}
            </span>
        {% endif %}
    </a>
{% endif %}
