{% extends isModal ? 'base_ajax.html.twig' : 'base.html.twig' %}

{% form_theme form 'General/Form/vertical_form_layout.html.twig' %}
{# @var inquiry \App\Entity\Onboarding\Inquiry #}
{% block sonata_admin_content %}
    {% if isModal %}
        <div class="modal-body">
            {{ form_start(form, { 'attr': { 'class': 'form-inquiry' } }) }}

            {{ form_rest(form) }}

            <div class="form-group">
            </div>
            {{ form_end(form) }}
        </div>

        <div class="form-submit-group modal-footer">
            <button type="submit" class="js-submit btn btn-primary">{{ 'app.inquiry.create'|trans }}</button>
        </div>
    {% else %}
        {% block notice %}
            {% include '@SonataTwig/FlashMessage/render.html.twig' %}
        {% endblock notice %}
        {{ form_start(form, {'attr': {'class': 'form-inquiry'}}) }}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">
                {{ 'app.inquiry.inquiry_about'|trans }} {{ app_get_entity_label(inquiry.referenceSource)|trans }}
                {%- if object is defined and object is not null -%}
                    : {{ object ~ '' }}
                {%- endif -%}
                </h4>
            </div>
            <div class="box-body">
                {% if object is defined and object is not null and showProperty is not null %}
                    {% set content = attribute(object, showProperty) %}
                    {% if content %}
                    <div class="object-content">
                        <p>{{ content|nl2br }}</p>
                    </div>
                    {% endif %}
                {% endif %}
                {% if parentInquiry is defined and parentInquiry is not null %}
                    <div class="box-inquiry-parent box-comments">
                        {% include 'Onboarding/Inquiry/Partials/_list-item.html.twig' with {'inquiry': parentInquiry, 'showAnswers': false} %}
                    </div>
                {% endif %}
                <div class="inquiry-form-body">
                    {{ form_rest(form) }}
                </div>
            </div>
            <div class="box-footer">
                <div class="form-submit-group inquiry-form-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        {% if parentInquiry is defined and parentInquiry is not null %}
                            {{ 'app.inquiry.actions.ask_question'|trans }}
                        {% else %}
                            {{ 'app.inquiry.create'|trans }}
                        {% endif %}
                    </button>
                    {% if backUrl %}
                        <a href="{{ backUrl }}" class="btn btn-default" title="{{ 'app.common.back_to_list'|trans }}">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            {{ 'app.common.back'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}

{% endblock sonata_admin_content %}
