{% apply spaceless %}
{% if fieldMeta is not defined %}
    {% if objectOrClass is defined and propertyKey is defined and objectOrClass and propertyKey %}
        {% set fieldMeta = app_object_property_meta_data(objectOrClass, propertyKey) %}
    {% else %}
    {% endif %}
{% endif %}
{% if fieldMeta is not null and fieldMeta.description is not empty %}
    {# @var fieldMeta \App\Entity\MetaData\MetaItemProperty #}
    {% if placement is not defined or placement is empty %}
        {% set placement = 'bottom' %}
    {% endif %}
    <span id="meta-help-{{ fieldMeta.id }}" class="has-popover">
        <span class="field-help" data-toggle="popover" title="{{ fieldMeta.labelKey|trans }}" data-content="{{ fieldMeta.description|raw|replace({'"': "'"})|nl2br }}"
              data-html="1" data-trigger="hover" data-placement="{{ placement }}" data-container="#meta-help-{{ fieldMeta.id }}">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </span>
    </span>
{% endif %}{% endapply %}