{# @var child \App\Entity\Solution #}
<td>
    {% if createShowLink and refAdmin.hasAccess(showRouteName, child) %}
        <a href="{{ refAdmin.generateObjectUrl(showRouteName, child, {'id': child.id}) }}">
            {{ child.displayName }}
        </a>
    {% else %}
        {{ child.displayName }}
    {% endif %}
</td>
<td>
    {% if child.url %}
        {{ child.url }}
    {% endif %}
</td>
<td>
    {{ child.description|nl2br }}
</td>
<td>
    {% set contactCount = child.solutionContacts|length%}
    {% if contactCount > 0 %}
        {% for contact in child.solutionContacts %}
            {# @var contact \App\Entity\Contact #}
            {% if loop.index > 1 %}
                ,
            {% endif %}
            {{ contact ~ '' }}
        {% endfor %}
    {% endif %}
    {% if child.contact %}
        {% if contactCount > 0 %}
            ,
        {% endif %}
        {{ child.contact }}
    {% endif %}
</td>