{# @var child \App\Entity\Service #}
<td>
    {% if createShowLink and refAdmin.hasAccess(showRouteName, child) %}
        <a href="{{ refAdmin.generateObjectUrl(showRouteName, child, {'id': child.id}) }}">
            {{ child.name }}
        </a>
    {% else %}
        {{ child.name }}
    {% endif %}
</td>
<td>
    {{ child.serviceKey }}
</td>
<td>
    {{ child.serviceType }}
</td>
<td>
    {{ child.lawShortcuts }}
</td>
<td>
    {{ child.relevance1 }}
</td>
<td>
    {{ child.relevance2 }}
</td>
<td>
    {% if child.status %}
        {{ child.status.name }}
    {% endif %}
</td>