{# @var child \App\Entity\Solution #}
<td>
    {% if elementUrl is defined and elementUrl %}
        <a href="{{ elementUrl }}">
            {% if child.name %}
                {{ child.name }}
            {% else %}
                #{{ child.id }}
            {% endif %}
        </a>
    {% else %}
        {{ child.name }}
    {% endif %}
</td>
<td>
    {% if child.url %}
        {{ child.url }}
    {% endif %}
</td>
<td>
    {{ child.description|nl2br }}
</td>
<td>
    {% if child.contact %}
        {{ child.contact }}
    {% endif %}
</td>