<div class="app-form-info above completeness-state">
    {# @var object \App\Entity\Onboarding\AbstractOnboardingEntity #}
    {% if objectCompletenessInfo.total == 0 %}
        {% set statusClass = 'danger' %}
        {% set bgClass = 'red' %}
    {% elseif objectCompletenessInfo.total < 100 %}
        {% set statusClass = 'warning' %}
        {% set bgClass = 'yellow' %}
    {% else %}
        {% set statusClass = 'success' %}
        {% set bgClass = 'green' %}
    {% endif %}
    {% set field_name = 'dataCompletenessConfirmed' %}
    {% set completionLabel = object|app_format_property_labels(objectCompletenessInfo.invalid_properties) %}
    <div class="info-box bg-{{ bgClass }}">
        <span class="info-box-icon"><i class="fas fa-file-alt" aria-hidden="true"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">{{ 'app.abstract_onboarding_entity.entity.status_prefix'|trans }} {{ object.statusLabelKey|trans }}</span>
            <span class="info-box-number">{{ objectCompletenessInfo.completed_properties_count }}/{{ objectCompletenessInfo.properties_state|length }} {{ 'app.abstract_onboarding_entity.entity.property_count_append'|trans }}</span>
            <div class="progress">
                <div class="progress-bar" style="width: {{ objectCompletenessInfo.total }}%"></div>
            </div>
            {% set customLabel = 'app.abstract_onboarding_entity.entity.data_completeness_confirmed_specific'|trans({'commune': object.communeName}) %}
            {% if object.dataCompletenessConfirmed or bgClass != 'green' %}
                {% if object.dataCompletenessConfirmed %}
                    <span class="progress-description {% if objectCompletenessInfo.total < 100 %} text-danger{% endif %}">
                        {% if objectCompletenessInfo.total < 100 %}
                            <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                        {% endif %}
                        {{ 'app.abstract_onboarding_entity.entity.data_completeness_has_been_confirmed'|trans({'commune': object.communeName}) }}
                    </span>
                {% endif %}
                {% if objectCompletenessInfo.total < 100 %}
                    <span class="missing-progress-description">
                        <strong>{{ 'app.abstract_onboarding_entity.entity.data_incomplete'|trans({'commune': object.communeName}) }}:</strong>
                        <br>{{ completionLabel }}
                    </span>
                {% endif %}
                {% if form[field_name] is defined %}
                    <span style="display: none;">
                        {{ form_widget(form[field_name], {'label': customLabel}) }}
                    </span>
                {% endif %}
            {% else %}
                {% if form[field_name] is defined %}
                    <span class="progress-description">
                    {{ form_widget(form[field_name], {'label': customLabel}) }}
                </span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>