{% extends 'General/Show/show.html.twig' %}

{% block app_show_default_fields %}
    {# @var object \App\Entity\ServiceSystem #}
    <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }}">
        <div class="{{ show_group.box_class }}">
            <div class="box-header">
                <h4 class="box-title">
                    {% block show_title %}
                        {{ 'app.service_system.entity.name'|trans }}: <strong>{{ object.name }}</strong>
                        ({{ elements['serviceKey']|render_view_element(object)}})
                    {% endblock %}
                </h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        {{ elements['situation.subject']|render_view_element(object)}}
                        &gt;
                        {{ elements['situation']|render_view_element(object)}}
                    </div>
                    <div class="col-xs-12 col-md-4 text-right">
                        {{ elements['status']|render_view_element(object)}}
                    </div>
                    <div class="col-xs-12 col-md-8">
                    </div>
                    <div class="col-xs-12 col-md-4 text-right">
                        {{ elements['priority']|render_view_element(object)}}
                    </div>
                    {% include 'General/Show/Partials/show-jurisdictions.html.twig' %}
                    {% include 'General/Show/Partials/show-rule-authorities.html.twig' %}
                </div>
                {% if object.description %}
                    <div class="item-property">
                        {{ object.description|nl2br }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}