{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block show_groups %}
    {# @var object \App\Entity\ServiceSystem #}
    <div class="row">
        {% block field_row %}
            {% for code in groups %}
                {% set show_group = admin.showgroups[code] %}
                <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }}">
                    <div class="{{ show_group.box_class }}">
                        <div class="box-header">
                            <h4 class="box-title">
                                {% block show_title %}
                                    {{ 'app.service_system.entity.name'|trans }}: <strong>{{ object.name }}</strong>
                                    ({{ elements['serviceKey']|render_view_element(object)}})
                                {% endblock %}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-8">
                                    {{ elements['situation.subject']|render_view_element(object)}}
                                    &gt;
                                    {{ elements['situation']|render_view_element(object)}}
                                </div>
                                <div class="col-xs-12 col-md-4 text-right">
                                    {{ elements['status']|render_view_element(object)}}
                                </div>
                                <div class="col-xs-12 col-md-8">
                                </div>
                                <div class="col-xs-12 col-md-4 text-right">
                                    {{ elements['priority']|render_view_element(object)}}
                                </div>
                                {% if object.jurisdictions|length > 0 %}
                                    <div class="col-xs-12 col-md-2">
                                        {{ elements['jurisdictions']|render_view_element(object)}}
                                    </div>
                                    <div class="col-xs-12 col-md-5 col-lg-4 col-xl-3">
                                        {% if object.stateMinistriesEnabled and object.stateMinistries|length > 0 %}
                                            {{ elements['stateMinistries']|render_view_element(object)}}
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-12 col-md-5 col-lg-4 col-xl-3">
                                        {% if object.stateMinistriesEnabled and object.bureaus|length > 0 %}
                                            {{ elements['bureaus']|render_view_element(object)}}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            {% if object.description %}
                                <div class="item-property">
                                    {{ object.description|nl2br }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    {% include 'General/Show/show-services.html.twig' %}
                </div>
                {#
                <div class="col-xs-12">
                    {% include 'General/Show/show-laboratories.html.twig' %}
                </div>
                #}
            {% endfor %}
        {% endblock %}

    </div>
{% endblock %}
