{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
<div>
    {% if value|length > 0 %}
        {% set childAdmin = admin.child('App\\Admin\\MailingContactAdmin') %}
        {% set route_name = 'list' %}
        {% if childAdmin
            and childAdmin.hasRoute(route_name)
            and childAdmin.hasAccess(route_name) %}
            <p>
                <a class="list-item-action"
                   href="{{ childAdmin.generateUrl('list', { 'childId': object.id }) }}"
                >
                    {{ 'app.mailing.actions.contact_list'|trans }}
                </a>
            </p>
        {% endif %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed" data-sortable="true">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'app.mailing_contact.entity.contact'|trans }}</th>
                    <th>{{ 'app.mailing_contact.entity.send_status'|trans }}</th>
                    <th>{{ 'app.mailing_contact.entity.sent_at'|trans }}</th>
                    <th>{{ 'app.mailing_contact.entity.send_attempts'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% set route_name = field_description.options.route.name %}
            {% for child in value %}
                {# @var child \App\Entity\MailingContact #}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {% if child.contact %}
                            <a href="mailto:{{ child.contact.email }}">{{ child.contact ~ '' }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ child.sendStatusLabel|trans }}
                    </td>
                    <td>
                        {% if child.sentAt %}
                            {{ child.sentAt|date("d.m.Y H:i:s", "Europe/Berlin") }}
                        {% endif %}
                    </td>
                    <td>
                        {% if not child.sentAt %}
                            {{ child.sendAttempts }}
                        {% endif %}
                    </td>
                    <td>
                        {% if childAdmin
                            and childAdmin.hasRoute(route_name)
                            and childAdmin.hasAccess(route_name, child) %}
                            {% if field_description.options.route is defined and field_description.options.route.parameters %}
                            <a href="{{ childAdmin.generateObjectUrl(route_name, child, field_description.options.route.parameters) }}">
                                <i class="fas fa-pen-square" aria-hidden="true"></i>
                            </a>
                            {% else %}
                                <a href="{{ childAdmin.generateObjectUrl(route_name, child) }}">
                                    <i class="fas fa-pen-square" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}