{% for search in searchList %}
    {# @var search \App\Entity\Search #}
    {% if search.route and (search.showForAll or app.user == search.user) %}
        <div class="row">
            <div class="col-xs-10">
                <p class="lead">
                    {% if search.parameters %}
                        <a href="{{ path(search.route, search.parameters) }}">
                            {{ search.description }}
                        </a>
                    {% else %}
                        <a href="{{ path(search.route) }}">
                            {{ search.description }}
                        </a>
                    {% endif %}
                </p>
            </div>
            <div class="col-xs-2">
                <a href="{{ path('app_search_edit', {'id': search.id}) }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{{ path('app_search_delete', {'id': search.id}) }}" class="js-delete" data-confirm="{{ 'app.search.entity.delete_confirm'|trans }}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    {% endif %}
{% endfor %}