{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if datagrid is defined and datagrid.filterMenuItems %}
    <div class="list-item-filter" style="padding: 5px 5px 5px 15px;color: #fff; white-space: normal;">
        {% for filterName, filterMenu in datagrid.filterMenuItems %}
            {% set filterParamName = filterName|replace({'.': '__'}) %}
            {% if filterMenu.choices|length > 20 %}
                <label for="custom-filter-{{ filterParamName }}"><i class="fa fa-filter" aria-hidden="true"></i>
                    Filter: {{ filterMenu.label|trans }}
                </label>
                <select class="form-control" id="custom-filter-{{ filterParamName }}" name="filter[filterParamName][value][]"
                        data-url="{{ path(menuItem.routePrefix ~ '_list', {'filter': {(filterParamName): {'value': {'': 'FILTER_VALUE'}}}}) }}"
                        onchange="if (this.value) window.location.href=this.dataset.url.replace('FILTER_VALUE', this.value)">
                    <option value=""{% if not filterMenu.value %} selected="selected"{% endif %}>-</option>
                    {% for filterChoice in filterMenu.choices %}
                        {% set filterParamName = filterName|replace({'.': '__'}) %}
                        <option value="{{ filterChoice.id }}"{% if filterChoice.id in filterMenu.value %} selected="selected"{% endif %}>
                            {{ filterChoice.name }}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                {% set iconPath = 'subject' in filterName ? '/img/icons/subject/16/' : null %}
                <div class="filter-menu-headline"><i class="fa fa-filter" aria-hidden="true"></i>
                    Filter: {{ filterMenu.label|trans }}
                </div>
                <ul class="filter-menu{% if iconPath %} has-icon{% endif %}">
                    {% for filterChoice in filterMenu.choices %}
                        {% set choiceIconPath = filterChoice.id < 15 ? iconPath : null %}
                        {% set filterParamName = filterName|replace({'.': '__'}) %}
                        <li class="filter-menu-item{% if choiceIconPath %} has-icon{% endif %}">
                            <a href="#" class="custom-menu-filter-link{% if filterChoice.id in filterMenu.value %} active{% endif %}" onclick="window.location.href=this.dataset.url.replace('FILTER_VALUE', '{{ filterChoice.id }}');return false;"
                               data-url="{{ path(menuItem.routePrefix ~ '_list', {'filter': {(filterParamName): {'value': {'': 'FILTER_VALUE'}}}}) }}"
                               data-filter-value="{{ filterChoice.id }}"
                                    {% if filterChoice.id in filterMenu.value %} style="color:#fff;font-weight: bold;" {% endif %}>
                                {% if choiceIconPath %}
                                    <img src="{{ choiceIconPath ~ filterChoice.id ~ '.png' }}" class="icon" alt="{{ filterChoice.name }}">
                                {% endif %}
                                <span class="item-label">{{ filterChoice.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}