{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block show_groups %}
    {# @var object \App\Entity\Base\BaseEntity #}
    <div class="row">
        {% block field_row %}
            {% for code in groups %}
                {% set show_group = admin.showgroups[code] %}

                {% block app_show_default_fields %}
                    <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }}">
                        <div class="{{ show_group.box_class }}">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {% block show_title %}
                                        {{ show_group.label|trans({}, show_group.translation_domain|default(admin.translationDomain)) }}
                                    {% endblock %}
                                </h4>
                            </div>
                            <div class="box-body{% block app_show_custom_box_body_classes %} table-responsive no-padding{% endblock %}">
                                {% block app_show_custom_fields_top %}
                                {% endblock %}
                                <table class="table">
                                    <tbody>
                                    {% set excludeCustomFields = admin.customShowFields %}
                                    {% for field_name in show_group.fields %}
                                        {% block show_field %}
                                            {% if field_name not in excludeCustomFields %}
                                                <tr class="sonata-ba-view-container">
                                                    {% if elements[field_name] is defined %}
                                                        {{ elements[field_name]|render_view_element(object) }}
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                                        {% endblock %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                {% block app_show_custom_fields %}
                    {% set customFields = admin.customShowFields %}
                    {% for field_name in show_group.fields %}
                        {% if field_name in customFields %}
                            <div class="col-xs-12">
                                {# {{ elements['field_name']|render_view_element(object) }} #}
                                {% if field_name == 'serviceSystems' %}
                                    {% include 'General/Show/show-service-systems.html.twig' with {'entities': object.serviceSystems, 'field_description': elements[field_name]} %}
                                {% elseif field_name == 'services' %}
                                    {% include 'General/Show/show-services.html.twig' with {'entities': object.services, 'field_description': elements[field_name]} %}
                                {% elseif field_name == 'laboratories' %}
                                    {% include 'General/Show/show-laboratories.html.twig' with {'entities': object.laboratories, 'field_description': elements[field_name]} %}
                                {% elseif field_name == 'publishedSolutions' %}
                                    {% include 'General/Show/show-solutions.html.twig' with {'entities': object.publishedSolutions, 'field_description': elements[field_name]} %}
                                {% elseif field_name == 'solutions' %}
                                    {% include 'General/Show/show-solutions.html.twig' with {'entities': object.solutions, 'field_description': elements[field_name]} %}
                                {% elseif field_name == 'serviceProviders' %}
                                    {% include 'General/Show/show-service-providers.html.twig' with {'entities': object.serviceProviders, 'field_description': elements[field_name]} %}
                                {% elseif field_name == 'communes' %}
                                    {% include 'General/Show/show-communes.html.twig' with {'entities': object.communes, 'field_description': elements[field_name]} %}
                                {% elseif field_name == 'implementationProjects' %}
                                    {% include 'General/Show/show-implementation-projects.html.twig' with {'entities': object.implementationProjects, 'field_description': elements[field_name]} %}
                                {% elseif field_name == 'modelRegionProjects' %}
                                    {% include 'General/Show/show-model-region-projects.html.twig' with {'entities': object.modelRegionProjects, 'field_description': elements[field_name]} %}
                                {% elseif field_name == 'publishedModelRegionProjects' %}
                                    {% include 'General/Show/show-model-region-projects.html.twig' with {'entities': object.publishedModelRegionProjects, 'field_description': elements[field_name]} %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}
