{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block show_groups %}
    {# @var object \App\Entity\Base\BaseEntity #}
    {# @var admin \Sonata\AdminBundle\Admin\AdminInterface #}
    {% set customShowFields =  [
        'serviceSystems', 'laboratories', 'services', 'publishedSolutions',
        'solutions', 'serviceProviders', 'implementationProjects',
        'modelRegionProjects', 'publishedModelRegionProjects',
        'formServerSolutions', 'serviceSolutions', 'communes', 'fimTypes'
    ] %}
    <div class="row">
        {% block field_row %}
            {% for code in groups %}
                {% set show_group = admin.showgroups[code] %}

                {% block app_show_default_fields %}
                    <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }}">
                        <div class="{{ show_group.box_class }}">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {% block show_title %}
                                        {{ show_group.label|trans({}, show_group.translation_domain|default(admin.translationDomain)) }}
                                    {% endblock %}
                                </h4>
                            </div>
                            <div class="box-body{% block app_show_custom_box_body_classes %} table-responsive no-padding{% endblock %}">
                                {% block app_show_custom_fields_top %}
                                {% endblock %}
                                {% block app_show_default_fields_content %}
                                    <table class="table">
                                        <tbody>
                                        {% for field_name in show_group.fields %}
                                            {% block show_field %}
                                                {% if field_name not in customShowFields and elements[field_name] is defined and (not elements[field_name].option('is_custom_field')) %}
                                                    <tr class="sonata-ba-view-container">
                                                        {{ elements[field_name]|render_view_element(object) }}
                                                    </tr>
                                                {% endif %}
                                            {% endblock %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
                {% block app_show_custom_fields %}
                    {#
                    Render blocks as tabs. Currently not used!
                    {% include 'General/Show/show-nav-tab-fields.html.twig' %}
                    #}
                    {% for field_name in show_group.fields %}
                        {% if not elements[field_name].option('is_tab_field') and not elements[field_name].option('is_custom_rendered') %}
                            {% include 'General/Show/show-custom-field.html.twig' %}
                        {% endif %}
                    {% endfor %}
                {% endblock %}
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}
