
{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities|length > 0 %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                {{ 'app.federal_information_management_type.object_name'|trans }}
                {% if fieldMetaHelp is defined %}{{ fieldMetaHelp|raw }}{% endif %}
            </h4>
        </div>
        <div class="box-body no-padding">
            <div class="nav-tabs-app-custom">
                <ul class="nav nav-tabs">
                    {% for child in entities %}
                    {# @var child \App\Entity\FederalInformationManagementType #}
                    {% set isActive = loop.first %}
                    <li{% if isActive %} class="active"{% endif %}>
                        <a href="#fim-type-{{ child.id }}" data-toggle="tab">
                            {{ child.dataTypeLabel|trans }}
                            <span class="label label-{% if child.status == 2 %}submitted{% elseif child.status == 3 %}success{% else %}warning{% endif %}">
                        {{ child.statusLabel|trans }}
                    </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for child in entities %}
                        {# @var child \App\Entity\FederalInformationManagementType #}
                        {% set isActive = loop.first %}
                        <div class="{% if isActive %}active {% endif %}tab-pane" id="fim-type-{{ child.id }}">
                            {#
                            <h4 class="item-headline">{{ child.dataTypeLabel|trans }}
                                <span class="label label-{% if child.status == 2 %}submitted{% elseif child.status == 3 %}success{% else %}warning{% endif %}">
                                    {{ child.statusLabel|trans }}
                                </span>
                            </h4>
                            #}
                            <div class="item-notes">
                                {% set fimContent %}
                                    {% if child.serviceBaseResult %}
                                        {% include 'Vsm/Partials/Show/service-base-result.html.twig' with {'serviceBaseResult': child.serviceBaseResult} %}
                                    {% endif %}
                                    {#
                                    {%- if child.notes %}
                                        <strong>{{ 'app.federal_information_management_type.entity.notes'|trans }}</strong><br>
                                        {{ child.notes|raw }}
                                    {% endif -%}
                                    #}
                                    {%- if child.implementationTeamProposal %}
                                        <strong>{{ 'app.federal_information_management_type.entity.implementation_team_proposal'|trans }}</strong><br>
                                        {{ child.implementationTeamProposal|raw }}
                                    {% endif -%}
                                {% endset %}
                                {% if fimContent %}
                                    {{- fimContent -}}
                                {% else %}
                                    {{ 'app.federal_information_management_type.notes_empty'|trans }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}