{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set refAdmin = null %}
    {% if not field_description.hasassociationadmin %}
        {% set isAdminMode = (admin is defined and admin.appContext == 'backend') and admin_pool is defined %}
        {% if isAdminMode %}
            {% set refAdmin = admin_pool.getAdminByAdminCode('App\\Admin\\LaboratoryAdmin') %}
        {% endif %}
    {% else %}
        {% set refAdmin = field_description.associationadmin %}
    {% endif %}
    {% set editRouteName = field_description.options.route.name %}
    {% set createEditLink = editRouteName and refAdmin is not null and refAdmin.hasRoute(editRouteName) and refAdmin.hasAccess(editRouteName) %}
    {% set showRouteName = 'show' %}
    {% set createShowLink = refAdmin is not null and refAdmin.hasRoute(showRouteName) and refAdmin.hasAccess(showRouteName) %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ 'app.laboratory.list'|trans }}
            </h4>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>
                        {{ 'app.laboratory.entity.name'|trans }}
                    </th>
                    <th>
                        {{ 'app.laboratory.entity.url'|trans }}
                    </th>
                    <th>
                        {{ 'app.laboratory.entity.description'|trans }}
                    </th>
                    <th>
                        {{ 'app.laboratory.entity.service_providers'|trans }}
                    </th>
                    <th>
                        {{ 'app.laboratory.entity.participants_other'|trans }}
                    </th>
                    {% if createEditLink %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for child in entities %}
                    {# @var child \App\Entity\Laboratory #}
                    <tr>
                        <td>
                            {% if createShowLink and refAdmin.hasAccess(showRouteName, child) %}
                            <a href="{{ refAdmin.generateObjectUrl(showRouteName, child, {'id': child.id}) }}">
                                    {{ child.name }}
                                </a>
                            {% else %}
                                {{ child.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.url %}
                                {{ child.url }}
                            {% endif %}
                        </td>
                        <td>
                            {{ child.description|nl2br }}
                        </td>
                        <td>
                            {% if child.serviceProviders %}
                                {% for grandChild in child.serviceProviders %}
                                    <span class="badge">{{ grandChild.name }}</span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.participantsOther %}
                                {{ child.participantsOther }}
                            {% endif %}
                        </td>
                        {% if createEditLink %}
                        <td>
                            {% include 'General/Show/Partials/link-to-child.html.twig' %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}