{% if object.solutions|length > 0 %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ 'app.solution.solution_list'|trans }}
            </h4>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>
                        {{ 'app.solution.entity.name'|trans }}
                    </th>
                    <th>
                        {{ 'app.solution.entity.url'|trans }}
                    </th>
                    <th>
                        {{ 'app.solution.entity.description'|trans }}
                    </th>
                    <th>
                        {{ 'app.solution.entity.contact'|trans }}
                    </th>
                </tr>
                {% for solution in object.solutions %}
                    {# @var solution \App\Entity\Solution #}
                    <tr>
                        <td>
                            {{ solution.name }}
                        </td>
                        <td>
                            {% if solution.url %}
                                {{ solution.url }}
                            {% endif %}
                        </td>
                        <td>
                            {{ solution.description|nl2br }}
                        </td>
                        <td>
                            {% if solution.contact %}
                                {{ solution.contact }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}