{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    <ul class="sonata-ba-show-many-to-many">
        {% set routeOption = field_description.option('route') %}
        {% set route_name = routeOption is null ? 'show' : name %}
        {% for element in value %}
            <li>
                {% set name = element|render_relation_element(field_description) %}
                {% if field_description.hasassociationadmin
                    and field_description.associationadmin.hasRoute(route_name)
                    and field_description.associationadmin.hasAccess(route_name, element) %}
                    {% if routeOption and routeOption.parameters is defined %}
                        <a href="{{ field_description.associationadmin.generateContextObjectUrl(route_name, element, routeOption.parameters) }}">
                            {{ name }}
                        </a>
                    {% else %}
                        <a href="{{ field_description.associationadmin.generateContextObjectUrl(route_name, element) }}">
                            {{ name }}
                        </a>
                    {% endif %}
                {% else %}
                    {{ name }}
                {% endif %}
                {% if element.categories|length > 0 %}
                    <small>({% for category in element.categories %}
                        {% if loop.index > 1 %}, {% endif %}
                        {{ category ~ '' }}
                        {% endfor %})</small>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
