
{% if object.services|length > 0 %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ 'app.service.service_list'|trans }}
            </h4>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>
                        {{ 'app.service.entity.name'|trans }}
                    </th>
                    <th>
                        {{ 'app.service.entity.service_key'|trans }}
                    </th>
                    <th>
                        {{ 'app.service.entity.service_type'|trans }}
                    </th>
                    <th>
                        {{ 'app.service.entity.law_shortcuts'|trans }}
                    </th>
                    <th>
                        {{ 'app.service.entity.relevance1'|trans }}
                    </th>
                    <th>
                        {{ 'app.service.entity.relevance2'|trans }}
                    </th>
                    <th>
                        {{ 'app.service.entity.status'|trans }}
                    </th>
                </tr>
                {% for child in object.services %}
                    {# @var solution \App\Entity\Service #}
                    <tr>
                        <td>
                            {{ child.name }}
                        </td>
                        <td>
                            {{ child.serviceKey }}
                        </td>
                        <td>
                            {{ child.serviceType }}
                        </td>
                        <td>
                            {{ child.lawShortcuts }}
                        </td>
                        <td>
                            {{ child.relevance1 }}
                        </td>
                        <td>
                            {{ child.relevance2 }}
                        </td>
                        <td>
                            {% if child.status %}
                                {{ child.status.name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}