{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set refFieldDesc = field_description is defined ? field_description : null %}
    {% set refSettings = app_get_reference_settings('App\\Entity\\StateGroup\\ServiceProvider', refFieldDesc) %}
    {# @var refSettings \App\Model\ReferenceSettings #}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ refSettings.listTitle|trans }}
            </h4>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-condensed">
                <tr>
                    {% include 'General/Show/Table/table-head-service-providers.html.twig' %}
                    {% if refSettings.edit.enabled %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for child in entities %}
                    {# @var child \App\Entity\StateGroup\ServiceProvider #}
                    <tr>
                        <td>
                            {% include 'General/Show/Partials/link-child-name-show.html.twig' %}
                        </td>
                        <td>
                            {% if child.street %}
                                {{ child.street }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.zipCode %}
                                {{ child.zipCode }}
                            {% endif %}
                            {% if child.town %}
                                {{ child.town }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.url %}
                                {{ child.url }}
                            {% endif %}
                        </td>
                        {% if refSettings.edit.enabled %}
                            <td>
                                {% include 'General/Show/Partials/link-to-child.html.twig' %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}

