{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities is not defined %}
    {% set entities = object.serviceSystems %}
{% endif %}
{% if entities|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set refFieldDesc = field_description is defined ? field_description : null %}
    {% set refSettings = app_get_reference_settings('App\\Entity\\ServiceSystem', refFieldDesc) %}
    {# @var refSettings \App\Model\ReferenceSettings #}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {% if customListTitle is not defined %}
                    {{ refSettings.listTitle|trans }}
                {% else %}
                    {{ customListTitle }}
                {% endif %}
                {% if fieldMetaHelp is defined %}{{ fieldMetaHelp|raw }}{% endif %}
            </h4>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-condensed">
                <tr>
                    {% set tableHeaders = ['name', 'service_key', 'jurisdictions', 'situation', 'subject', 'priority', 'status'] %}
                    {% set labelPrefix = 'app.service_system.entity.' %}
                    {% include 'General/Show/Table/table-head-general.html.twig' with {'tableHeaders': tableHeaders, 'labelPrefix': labelPrefix} %}
                    {% if refSettings.edit.enabled %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for child in entities %}
                    {# @var child \App\Entity\ServiceSystem #}
                    <tr>
                        <td>
                            {% include 'General/Show/Partials/link-child-name-show.html.twig' %}
                        </td>
                        <td>
                            {% if child.serviceKey %}
                                {{ child.serviceKey }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.jurisdictions %}
                                {% for grandChild in child.jurisdictions %}
                                    <span class="badge">{{ grandChild.name }}</span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.situation %}
                                {{ child.situation.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.situation.subject %}
                                {{ child.situation.subject.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.priority %}
                                {{ child.priority.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.status %}
                                {{ child.status.name }}
                            {% endif %}
                        </td>
                        {% if refSettings.edit.enabled %}
                            <td>
                                {% if refSettings.admin.hasAccess(refSettings.edit.route, child) %}
                                    {% if field_description.options.route.parameters %}
                                        {% set editParameters = field_description.options.route.parameters %}
                                    {% else %}
                                        {% set editParameters = {'id': child.id} %}
                                    {% endif %}
                                    <a href="{{ refSettings.admin.generateObjectUrl(refSettings.edit.route, child, editParameters) }}">
                                        {% if refSettings.edit.route == 'show' %}
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}