{#
This file is part of the KDN OZG package.
(c) Gert Hammes <info@gerthammes.de>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if entities is not defined %}
    {% set entities = object.serviceSystems %}
{% endif %}
{% if entities|length > 0 %}
    {# @var field_description \Sonata\DoctrineORMAdminBundle\Admin\FieldDescription #}
    {% set refAdmin = null %}
    {% if not field_description.hasassociationadmin %}
        {% set isAdminMode = (admin is defined and admin.appContext == 'backend') and admin_pool is defined %}
        {% if isAdminMode %}
            {% set refAdmin = admin_pool.getAdminByAdminCode('App\\Admin\\ServiceSystemAdmin') %}
        {% else %}
            {% set refAdmin = admin_pool.getAdminByAdminCode('App\\Admin\\Frontend\\ServiceSystemAdmin') %}
        {% endif %}
    {% else %}
        {% set refAdmin = field_description.associationadmin %}
    {% endif %}
    {% set editRouteName = field_description.options.route.name %}
    {% set createEditLink = editRouteName and refAdmin is not null and refAdmin.hasRoute(editRouteName) and refAdmin.hasAccess(editRouteName) %}
    {% set showRouteName = 'show' %}
    {% set createShowLink = refAdmin is not null and refAdmin.hasRoute(showRouteName) and refAdmin.hasAccess(showRouteName) %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                {{ 'app.service_system.list'|trans }}
            </h4>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>
                        {{ 'app.service_system.entity.name'|trans }}
                    </th>
                    <th>
                        {{ 'app.service_system.entity.service_key'|trans }}
                    </th>
                    <th>
                        {{ 'app.service_system.entity.jurisdictions'|trans }}
                    </th>
                    <th>
                        {{ 'app.service_system.entity.situation'|trans }}
                    </th>
                    <th>
                        {{ 'app.situation.entity.subject'|trans }}
                    </th>
                    <th>
                        {{ 'app.service_system.entity.priority'|trans }}
                    </th>
                    <th>
                        {{ 'app.service_system.entity.status'|trans }}
                    </th>
                    {% if createEditLink %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for child in entities %}
                    {# @var child \App\Entity\ServiceSystem #}
                    <tr>
                        <td>
                            {% if createShowLink and refAdmin.hasAccess(showRouteName, child) %}
                                <a href="{{ refAdmin.generateObjectUrl(showRouteName, child, {'id': child.id}) }}">
                                    {{ child.name }}
                                </a>
                            {% else %}
                                {{ child.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.serviceKey %}
                                {{ child.serviceKey }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.jurisdictions %}
                                {% for grandChild in child.jurisdictions %}
                                    <span class="badge">{{ grandChild.name }}</span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.situation %}
                                {{ child.situation.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.situation.subject %}
                                {{ child.situation.subject.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.priority %}
                                {{ child.priority.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if child.status %}
                                {{ child.status.name }}
                            {% endif %}
                        </td>
                        {% if createEditLink %}
                            <td>
                                {% if refAdmin.hasAccess(editRouteName, child) %}
                                    {% if field_description.options.route.parameters %}
                                        {% set editParameters = field_description.options.route.parameters %}
                                    {% else %}
                                        {% set editParameters = {'id': child.id} %}
                                    {% endif %}
                                    <a href="{{ refAdmin.generateObjectUrl(editRouteName, child, editParameters) }}">
                                        {% if editRouteName == 'show' %}
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}